<a href="https://colab.research.google.com/github/mofuoku417/Multivariate-Time-Series-Forecasting-of-Crude-Palm-Oil-Price-Using-Machine-Learning-Techniques/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Problem Statement

#Data

#Approach

####Mount Google Drive to Google Colab Notebook

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

### Prep the Data

In [18]:
import pandas as pd
import os
import glob
import numpy as np
from pathlib import Path

### Load Data from Files in Dask Dataframes

In [ ]:
###############################################################################################################

In [30]:
file_dir = '/content/gdrive/MyDrive/raw_data'
!ls $file_dir

coconut_oil_pri.csv  olive_oil_.csv	 soybean_oil.csv
cpo_pri.csv	     peanut_oil_pri.csv  sunflower_oil.csv
exmaus.csv	     rapeseed_oil.csv	 wti.csv

In [31]:
# Number of files we are dealing with
!ls $file_dir | wc -l

9

In [32]:
# Get a python list of csv files
files = glob.glob(os.path.join(file_dir, "*.csv"))

In [33]:
# Look at a few to see how we can merge them
df1 = pd.read_csv(files[0])
df2 = pd.read_csv(files[1])
df3 = pd.read_csv(files[2])
df4 = pd.read_csv(files[3])
df5 = pd.read_csv(files[4])
df6 = pd.read_csv(files[5])
df7 = pd.read_csv(files[6])
df8 = pd.read_csv(files[7])
df9 = pd.read_csv(files[8])


print(df1.head(), "\n")
print(df2.head(), "\n")
print(df3.head(), "\n")
print(df4.head(), "\n")
print(df5.head(), "\n")
print(df6.head(), "\n")
print(df7.head(), "\n")
print(df8.head(), "\n")
print(df9.head(), "\n")

     Month  cno_pri
0  1991-09      455
1  1991-10      546
2  1991-11      595
3  1991-12      636
4  1992-01      738

     Month  cpo_pri
0  1991-09      323
1  1991-10      345
2  1991-11      362
3  1991-12      376
4  1992-01      383

     Month  exmaus
0  1971-01  3.0755
1  1971-02  3.0661
2  1971-03  3.0659
3  1971-04  3.0671
4  1971-05  3.0635

     Month  oli_pri
0  1991-09  3102.61
1  1991-10  3100.45
2  1991-11  3199.41
3  1991-12  3281.67
4  1992-01  3261.65

     Month  rps_pri
0  2002-02   423.45
1  2002-03   415.85
2  2002-04   410.77
3  2002-05   414.82
4  2002-06   451.04

     Month  pno_pri
0  1991-09    844.0
1  1991-10    799.0
2  1991-11    718.0
3  1991-12    614.0
4  1992-01    619.0

     Month  sbo_pri
0  1991-09    468.0
1  1991-10    485.0
2  1991-11    466.0
3  1991-12    442.0
4  1992-01    429.0

     Month  sfo_pri
0  2002-02    578.0
1  2002-03    557.0
2  2002-04    552.0
3  2002-05    574.0
4  2002-06    595.0

     Month  wti_spri
0  2001-09     28.67
1  2001-10     24.49
2  2001-11     22.06
3  2001-12     21.64
4  2002-01     22.30

In [170]:
df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9], axis=1, join='inner')
df.set_index('Month', inplace=True)

print(df.head())
df.to_csv('df.csv')

                                                    cno_pri  ...  wti_spri
Month                                                        ...
(1991-09, 1991-09, 1991-09, 1991-09, 1991-09, 2...      455  ...     28.67
(1991-10, 1991-10, 1991-10, 1991-10, 1991-10, 2...      546  ...     24.49
(1991-11, 1991-11, 1991-11, 1991-11, 1991-11, 2...      595  ...     22.06
(1991-12, 1991-12, 1991-12, 1991-12, 1991-12, 2...      636  ...     21.64
(1992-01, 1992-01, 1992-01, 1992-01, 1992-01, 2...      738  ...     22.30

[5 rows x 9 columns]

In [171]:
df = pd.read_csv('df.csv')

In [172]:
date_rng = pd.date_range(start='2002-02', end='2021-08', freq='MS')

In [173]:
df['Month'] = pd.DataFrame(date_rng, columns=['Month'])

In [174]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Month     230 non-null    datetime64[ns]
 1   cno_pri   230 non-null    int64
 2   oli_pri   230 non-null    float64
 3   sbo_pri   230 non-null    float64
 4   cpo_pri   230 non-null    int64
 5   pno_pri   230 non-null    float64
 6   sfo_pri   230 non-null    float64
 7   exmaus    230 non-null    float64
 8   rps_pri   230 non-null    float64
 9   wti_spri  230 non-null    float64
dtypes: datetime64[ns](1), float64(7), int64(2)
memory usage: 18.1 KB

In [175]:
df.head()

       Month  cno_pri  oli_pri  sbo_pri  ...  sfo_pri  exmaus  rps_pri  wti_spri
0 2002-02-01      455  3102.61    468.0  ...    578.0  3.0755   423.45     28.67
1 2002-03-01      546  3100.45    485.0  ...    557.0  3.0661   415.85     24.49
2 2002-04-01      595  3199.41    466.0  ...    552.0  3.0659   410.77     22.06
3 2002-05-01      636  3281.67    442.0  ...    574.0  3.0671   414.82     21.64
4 2002-06-01      738  3261.65    429.0  ...    595.0  3.0635   451.04     22.30

[5 rows x 10 columns]

In [176]:
df.tail()

         Month  cno_pri  oli_pri  sbo_pri  ...  sfo_pri  exmaus  rps_pri  wti_spri
225 2020-11-01      993  2925.80   860.28  ...  1667.82  2.6945  1047.78     34.03
226 2020-12-01     1031  2934.73   910.82  ...  1680.32  2.7028  1097.63     35.50
227 2021-01-01     1170  3087.55   997.62  ...  1375.09  2.7032  1138.24     35.81
228 2021-02-01     1275  3068.01  1035.26  ...  1359.46  2.7041  1272.13     33.59
229 2021-03-01     1412  3093.28  1146.75  ...  1444.54  2.7032  1321.88     33.57

[5 rows x 10 columns]

###Look for missing values for each column

In [177]:
df.isnull().sum()

Month       0
cno_pri     0
oli_pri     0
sbo_pri     0
cpo_pri     0
pno_pri     0
sfo_pri     0
exmaus      0
rps_pri     0
wti_spri    0
dtype: int64

####Inference
No missing value in each column

###Look for null values for each column

In [179]:
df.isnull().sum()

Month       0
cno_pri     0
oli_pri     0
sbo_pri     0
cpo_pri     0
pno_pri     0
sfo_pri     0
exmaus      0
rps_pri     0
wti_spri    0
dtype: int64