<a href="https://colab.research.google.com/github/mofuoku417/Machine-Learning-Techniques-for-Multivariate-Time-Series-Forecasting-of-Crude-Palm-Oil-Prices/blob/main/Feature_Selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Load the Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.inspection import permutation_importance
from matplotlib import pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from pandas import read_csv
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2, f_regression
from numpy import array

In [3]:
##Matplotlib Parameters
import matplotlib.ticker as ticker
from pylab import rcParams
rcParams['axes.labelsize'] = 12
rcParams['xtick.labelsize'] = 12
rcParams['ytick.labelsize'] = 12
plt.style.context('fivethirtyeight')

##Load Data from Github

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/mofuoku417/Machine-Learning-Techniques-for-Multivariate-Time-Series-Forecasting-of-Crude-Palm-Oil-Prices/main/Cleaned_data/preprocessed.csv")
df.head()

,date,cpo_pri,cno_pri,exmaus,oli_pri,rps_pri,pno_pri,sbo_pri,sfo_pri,wti_spri,...,WindChillC,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph
0,12/1/10,323,455,2.991388,3102.61,423.45,844.0,468.0,578.0,28.67,...,26.547619,5.642857,47.761905,79.261905,0.269048,1008.119048,26.547619,7.760192,168.738095,4.071429
1,1/1/11,345,546,2.991388,3100.45,415.85,799.0,485.0,557.0,24.49,...,26.322581,5.177419,52.483871,82.193548,0.385484,1009.193548,26.322581,7.760192,122.790323,3.758065
2,2/1/11,362,595,2.991388,3199.41,410.77,718.0,466.0,552.0,22.06,...,27.589286,4.375000,36.625000,74.839286,0.214286,1009.375000,27.589286,8.053571,114.892857,3.017857
3,3/1/11,376,636,2.991388,3281.67,414.82,614.0,442.0,574.0,21.64,...,27.629032,4.919355,48.419355,77.935484,0.277419,1008.903226,27.516129,7.967742,144.338710,3.532258
4,4/1/11,383,738,2.991388,3261.65,451.04,619.0,429.0,595.0,22.30,...,27.450000,4.550000,38.200000,80.450000,0.383333,1009.050000,27.083333,8.650000,149.300000,3.183333

In [5]:
df.set_index('date', inplace=True)
df.head()

,cpo_pri,cno_pri,exmaus,oli_pri,rps_pri,pno_pri,sbo_pri,sfo_pri,wti_spri,tmax_degC,...,WindChillC,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph
date,,,,,,,,,,,,,,,,,,,,,
12/1/10,323,455,2.991388,3102.61,423.45,844.0,468.0,578.0,28.67,30.43,...,26.547619,5.642857,47.761905,79.261905,0.269048,1008.119048,26.547619,7.760192,168.738095,4.071429
1/1/11,345,546,2.991388,3100.45,415.85,799.0,485.0,557.0,24.49,31.20,...,26.322581,5.177419,52.483871,82.193548,0.385484,1009.193548,26.322581,7.760192,122.790323,3.758065
2/1/11,362,595,2.991388,3199.41,410.77,718.0,466.0,552.0,22.06,31.97,...,27.589286,4.375000,36.625000,74.839286,0.214286,1009.375000,27.589286,8.053571,114.892857,3.017857
3/1/11,376,636,2.991388,3281.67,414.82,614.0,442.0,574.0,21.64,32.69,...,27.629032,4.919355,48.419355,77.935484,0.277419,1008.903226,27.516129,7.967742,144.338710,3.532258
4/1/11,383,738,2.991388,3261.65,451.04,619.0,429.0,595.0,22.30,32.37,...,27.450000,4.550000,38.200000,80.450000,0.383333,1009.050000,27.083333,8.650000,149.300000,3.183333

In [6]:
df.dtypes

cpo_pri                int64
cno_pri                int64
exmaus               float64
oli_pri              float64
rps_pri              float64
pno_pri              float64
sbo_pri              float64
sfo_pri              float64
wti_spri             float64
tmax_degC            float64
tmin_degC            float64
ppt_mm               float64
pet_mm               float64
ws_mps               float64
srad                 float64
q_mm                 float64
maxtempC             float64
mintempC             float64
sunHour              float64
uvIndex              float64
moon_illumination    float64
DewPointC            float64
FeelsLikeC           float64
WindChillC           float64
WindGustKmph         float64
cloudcover           float64
humidity             float64
precipMM             float64
pressure             float64
tempC                float64
visibility           float64
winddirDegree        float64
windspeedKmph        float64
dtype: object

In [7]:
X = df.iloc[:,1:15]
y = df.iloc[:,1]

In [8]:
X

,cno_pri,exmaus,oli_pri,rps_pri,pno_pri,sbo_pri,sfo_pri,wti_spri,tmax_degC,tmin_degC,ppt_mm,pet_mm,ws_mps,srad
date,,,,,,,,,,,,,,
12/1/10,455,2.991388,3102.61,423.45,844.00,468.00,578.00,28.67,30.43,20.2900,232.9,115.3,1.67,207.70504
1/1/11,546,2.991388,3100.45,415.85,799.00,485.00,557.00,24.49,31.20,20.9200,89.1,115.4,1.41,228.94287
2/1/11,595,2.991388,3199.41,410.77,718.00,466.00,552.00,22.06,31.97,21.0300,179.7,135.1,1.33,238.41747
3/1/11,636,2.991388,3281.67,414.82,614.00,442.00,574.00,21.64,32.69,21.6000,177.1,123.5,1.17,218.47599
4/1/11,738,2.991388,3261.65,451.04,619.00,429.00,595.00,22.30,32.37,22.0575,295.0,129.0,1.27,226.15010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11/1/20,363,2.202500,2626.91,1252.78,738.07,427.49,1430.48,60.18,29.78,20.1600,141.8,103.6,1.35,186.68326
12/1/20,322,2.222500,2736.64,1287.68,749.57,385.09,1472.27,62.25,29.62,19.7400,149.0,115.3,1.58,210.72987
1/1/21,307,2.262900,2842.81,1289.12,761.60,373.03,1525.43,63.04,31.41,19.6800,91.4,123.2,1.53,244.41912
2/1/21,330,2.281700,2936.19,1303.59,759.59,390.69,1572.25,71.52,31.93,20.6300,137.7,129.5,1.46,223.31732
3/1/21,339,2.315900,2847.84,1234.88,771.62,396.87,1302.61,74.80,31.79,20.9900,188.3,125.1,0.99,228.56676

In [ ]:
#Soybean oil price, Sunflower oil price, Rapeseed oil price, Coconut oil price, Peanut oil price, Olive oil price

In [9]:
df.columns.values

array(['cpo_pri', 'cno_pri', 'exmaus', 'oli_pri', 'rps_pri', 'pno_pri',
       'sbo_pri', 'sfo_pri', 'wti_spri', 'tmax_degC', 'tmin_degC',
       'ppt_mm', 'pet_mm', 'ws_mps', 'srad', 'q_mm', 'maxtempC',
       'mintempC', 'sunHour', 'uvIndex', 'moon_illumination', 'DewPointC',
       'FeelsLikeC', 'WindChillC', 'WindGustKmph', 'cloudcover',
       'humidity', 'precipMM', 'pressure', 'tempC', 'visibility',
       'winddirDegree', 'windspeedKmph'], dtype=object)

### Variables to be eliminated
We are going to eliminate the following variables because they are not important to the production and prediction of crude palm oil price

* moon_illumination
* winddirDegree
* pressure
* WindGustKmph
* cloudcover
* precipMM (is same feature as pet_mm)
* uvIndex
* sunHour
* DewPointC
* FeelsLikeC
* visibility
* WindChillC
* ws_mps
* tempC
* windspeedKmph
* ppt_mm (Same or similar to q_mm which is the runoff estimate is the amount of water expelled - or "runs off" - from the state on a monthly or annual basis).

In [10]:
df = df.drop(['moon_illumination', 'winddirDegree', 'pressure', 'WindGustKmph', 'cloudcover',
         'precipMM', 'uvIndex','sunHour', 'DewPointC','FeelsLikeC', 'visibility',
         'WindChillC', 'ws_mps', 'pet_mm', 'tempC', 'windspeedKmph', 'maxtempC', 'mintempC', 'ppt_mm'], axis = 1)

##Feature Selection

###Applying SelectKBest class to extract top 6 best features
We apply the SelectKBest class to select the best features the features are chosen using the SelectKBest method based on the k highest score.

In [11]:
print("Feature data dimension: ", X.shape)

Feature data dimension:  (124, 14)

In [12]:
select = SelectKBest(score_func=f_regression, k=6)
z = select.fit_transform(X, y) 
 
print("After selecting best 6 features:", z.shape)

After selecting best 6 features: (124, 6)

In [13]:
filter = select.get_support()
features = X.columns.values

print("All features:")
print(features)
 
print("Selected best 6:")
print(features[filter])
print(z)

All features:
['cno_pri' 'exmaus' 'oli_pri' 'rps_pri' 'pno_pri' 'sbo_pri' 'sfo_pri'
 'wti_spri' 'tmax_degC' 'tmin_degC' 'ppt_mm' 'pet_mm' 'ws_mps' 'srad']
Selected best 6:
['cno_pri' 'oli_pri' 'rps_pri' 'pno_pri' 'sbo_pri' 'sfo_pri']
[[ 455.   3102.61  423.45  844.    468.    578.  ]
 [ 546.   3100.45  415.85  799.    485.    557.  ]
 [ 595.   3199.41  410.77  718.    466.    552.  ]
 [ 636.   3281.67  414.82  614.    442.    574.  ]
 [ 738.   3261.65  451.04  619.    429.    595.  ]
 [ 702.   3198.4   477.29  605.    414.    610.  ]
 [ 644.   3104.06  521.14  595.    434.    612.  ]
 [ 647.   3161.99  525.01  616.    425.    595.  ]
 [ 638.   3259.13  539.31  651.    439.    565.  ]
 [ 589.   3335.56  593.04  665.    456.    578.  ]
 [ 528.   3454.2   616.49  644.    429.    595.  ]
 [ 494.   3490.25  623.72  600.    409.    609.  ]
 [ 501.   3342.78  585.76  562.    421.    575.  ]
 [ 493.   2986.24  551.92  565.    418.    543.  ]
 [ 496.   2747.9   557.22  575.    437.    545.  ]
 [ 461.   2793.15  607.17  622.    436.    615.  ]
 [ 444.   2757.83  612.27  621.    444.    628.  ]
 [ 439.   2587.66  582.56  611.    433.    660.  ]
 [ 427.   2628.83  553.48  602.    438.    689.  ]
 [ 402.   2783.9   564.09  623.    448.    731.  ]
 [ 418.   2787.13  615.82  685.    448.    712.  ]
 [ 436.   2721.53  620.32  712.    461.    696.  ]
 [ 460.   2694.24  648.67  773.    505.    684.  ]
 [ 455.   2685.46  675.49  858.    483.    632.  ]
 [ 424.   2743.6   704.51  845.    489.    624.  ]
 [ 419.   2706.44  687.6   807.    491.    632.  ]
 [ 464.   2665.22  644.98  808.    536.    657.  ]
 [ 615.   2681.78  700.61  924.    589.    701.  ]
 [ 595.   2686.82  699.96  993.    602.    727.  ]
 [ 573.   2661.5   650.92 1011.    577.    724.  ]
 [ 539.   2683.4   667.68 1013.    586.    699.  ]
 [ 560.   2668.77  657.92 1030.    584.    695.  ]
 [ 599.   2705.24  668.92 1020.    594.    714.  ]
 [ 608.   2744.46  684.68 1014.    571.    695.  ]
 [ 579.   3553.91  709.72 1017.    560.    700.  ]
 [ 596.   3548.05  683.88 1018.    600.    706.  ]
 [ 622.   3596.26  647.24 1018.    672.    708.  ]
 [ 621.   3694.03  663.64 1029.    642.    682.  ]
 [ 706.   3656.24  651.7  1048.    706.    683.  ]
 [ 692.   3587.45  652.57 1062.    693.    646.  ]
 [ 622.   3622.27  642.01 1054.    674.    598.  ]
 [ 636.   3772.18  645.33 1025.    663.    602.  ]
 [ 632.   4161.09  654.17  990.    652.    591.  ]
 [ 619.   4503.83  687.82  981.    610.    595.  ]
 [ 616.   4446.18  734.38  973.    595.    606.  ]
 [ 668.   4465.47  727.47  965.    611.    659.  ]
 [ 693.   4624.57  711.64  969.    626.    679.  ]
 [ 686.   4591.11  728.91  980.    616.    666.  ]
 [ 677.   4749.52  716.23  981.    614.    647.  ]
 [ 718.   4973.13  738.57  990.    638.    666.  ]
 [ 750.   5082.29  773.72  995.    623.    669.  ]
 [ 718.   5002.53  828.42  988.    579.    666.  ]
 [ 711.   5509.12  829.91  959.    554.    722.  ]
 [ 738.   6067.63  820.58  925.    548.    730.  ]
 [ 723.   6032.36  809.12  911.    538.    719.  ]
 [ 756.   5909.79  785.73  895.    582.    709.  ]
 [ 778.   5906.63  784.4   897.    591.    713.  ]
 [ 816.   6014.78  822.39  904.    563.    755.  ]
 [ 775.   5903.83  854.31  902.    549.    831.  ]
 [ 742.   5811.23  823.02  885.    565.    916.  ]
 [ 721.   5925.11  790.39  879.    569.    999.  ]
 [ 722.   6023.87  771.51  874.    528.   1114.  ]
 [ 760.   6235.91  808.43  868.    517.   1279.  ]
 [ 777.   6241.91  844.71  868.    514.   1358.  ]
 [ 768.   6225.94  867.68  874.    534.   1401.  ]
 [ 768.   5202.66  925.81  886.    527.   1469.  ]
 [ 737.   4815.96  958.29  896.    541.   1709.  ]
 [ 710.   4235.24 1044.75  938.    541.   1839.  ]
 [ 654.   4246.53 1146.97  981.    541.   1863.  ]
 [ 637.   3452.36 1252.43 1047.    550.   1838.  ]
 [ 597.   3760.36 1336.75 1096.    535.   1962.  ]
 [ 567.   3607.56 1390.42 1093.    544.   2045.  ]
 [ 615.   3839.11 1429.55 1083.    555.   1692.  ]
 [ 627.   3914.95 1510.12 1083.    611.   1319.  ]
 [ 616.   3881.83 1471.49 1090.    676.   1176.  ]
 [ 586.   3655.3  1524.95 1058.    622.    950.  ]
 [ 558.   3475.1  1591.88 1055.    625.    835.  ]
 [ 559.   3164.   1549.44 1029.    634.    759.  ]
 [ 578.   3106.16 1352.83  949.    652.    817.  ]
 [ 618.   3093.11 1238.29  928.    662.    805.  ]
 [ 723.   3160.63 1040.68  900.    671.    757.  ]
 [ 652.   3184.11  974.82  891.    629.    843.  ]
 [ 667.   3172.03  838.02  874.    612.    941.  ]
 [ 667.   3148.39  831.74  862.    592.    907.  ]
 [ 652.   3293.41  802.4   852.    615.    804.  ]
 [ 695.   3346.8   776.9   850.    614.    820.  ]
 [ 752.   3281.72  830.19  862.    614.    809.  ]
 [ 774.   3299.12  947.07  861.    591.    846.  ]
 [ 763.   3260.92  917.18  952.71  541.63  921.  ]
 [ 745.   3216.03  851.56  889.57  482.36  986.  ]
 [ 700.   3767.08  884.24  752.45  444.36  968.  ]
 [ 827.   3824.25  855.36  663.89  442.68  948.  ]
 [ 874.   3876.89  894.11  762.17  421.5   949.  ]
 [ 796.   3829.73  933.77  836.25  405.88  924.  ]
 [ 656.   3658.97  938.29  859.8   391.4   910.  ]
 [ 684.   3736.3   914.09  849.78  412.37  889.  ]
 [ 704.   3773.36  900.93  848.78  413.93  937.  ]
 [ 690.   3852.53  910.08  888.15  399.53 1074.  ]
 [ 703.   3709.49  909.13  924.94  387.31 1114.  ]
 [ 703.   3299.71  862.49  765.61  374.67 1284.  ]
 [ 654.   3553.8   876.07  676.08  369.79 1441.  ]
 [ 591.   3488.13  946.76  687.63  357.94 1454.  ]
 [ 552.   3443.88 1012.94  733.28  363.49 1492.  ]
 [ 550.   3404.1  1032.57  789.81  366.24 1704.74]
 [ 481.   3243.64 1149.51  793.66  337.97 1636.96]
 [ 437.   2970.88 1242.32  783.14  330.17 1634.05]
 [ 400.   2669.99 1382.99  771.62  339.3  1644.09]
 [ 371.   2666.9  1440.75  754.36  328.92 1699.32]
 [ 332.   2567.81 1403.14  760.59  312.49 1672.38]
 [ 340.   2598.36 1411.8   754.58  314.02 1671.3 ]
 [ 367.   2552.18 1447.42  769.61  316.78 1591.59]
 [ 329.   2601.72 1406.76  806.79  320.57 1483.81]
 [ 319.   2624.08 1401.82  815.71  304.81 1502.5 ]
 [ 285.   2552.27 1392.95  811.08  303.78 1439.77]
 [ 289.   2565.32 1350.5   780.64  327.63 1451.82]
 [ 293.   2597.95 1309.99  744.85  326.01 1485.  ]
 [ 295.   2581.68 1270.51  727.53  295.17 1500.68]
 [ 317.   2536.49 1273.54  727.53  286.89 1551.9 ]
 [ 358.   2559.12 1244.66  723.02  421.36 1522.17]
 [ 363.   2626.91 1252.78  738.07  427.49 1430.48]
 [ 322.   2736.64 1287.68  749.57  385.09 1472.27]
 [ 307.   2842.81 1289.12  761.6   373.03 1525.43]
 [ 330.   2936.19 1303.59  759.59  390.69 1572.25]
 [ 339.   2847.84 1234.88  771.62  396.87 1302.61]]

In [18]:
##Feature Selection
after_fs = df[['cno_pri', 'oli_pri', 'rps_pri', 'pno_pri', 'sbo_pri', 'sfo_pri']]
after_fs.head(3)

         cno_pri  oli_pri  rps_pri  pno_pri  sbo_pri  sfo_pri
date
12/1/10      455  3102.61   423.45    844.0    468.0    578.0
1/1/11       546  3100.45   415.85    799.0    485.0    557.0
2/1/11       595  3199.41   410.77    718.0    466.0    552.0

Features remaining are: 'cno_pri' 'oli_pri' 'rps_pri' 'pno_pri' 'sbo_pri' 'sfo_pri'.

In [20]:
#Save the preprocessed to csv 
after_fs.to_csv("FS.csv")