<a href="https://colab.research.google.com/github/mofuoku417/Machine-Learning-Techniques-for-Multivariate-Time-Series-Forecasting-of-Crude-Palm-Oil-Prices/blob/main/Feature_Selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Load the Libraries

In [63]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.inspection import permutation_importance
from matplotlib import pyplot as plt
from sklearn.ensemble import RandomForestClassifier

###Load Data from Github

In [64]:
df = pd.read_csv("https://raw.githubusercontent.com/mofuoku417/Machine-Learning-Techniques-for-Multivariate-Time-Series-Forecasting-of-Crude-Palm-Oil-Prices/main/Cleaned_data/preprocessed.csv")
df.head()

,date,cpo_pri,cno_pri,exmaus,oli_pri,rps_pri,pno_pri,sbo_pri,sfo_pri,wti_spri,...,WindChillC,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph
0,12/1/10,323,455,2.991388,3102.61,423.45,844.0,468.0,578.0,28.67,...,26.547619,5.642857,47.761905,79.261905,0.269048,1008.119048,26.547619,7.760192,168.738095,4.071429
1,1/1/11,345,546,2.991388,3100.45,415.85,799.0,485.0,557.0,24.49,...,26.322581,5.177419,52.483871,82.193548,0.385484,1009.193548,26.322581,7.760192,122.790323,3.758065
2,2/1/11,362,595,2.991388,3199.41,410.77,718.0,466.0,552.0,22.06,...,27.589286,4.375000,36.625000,74.839286,0.214286,1009.375000,27.589286,8.053571,114.892857,3.017857
3,3/1/11,376,636,2.991388,3281.67,414.82,614.0,442.0,574.0,21.64,...,27.629032,4.919355,48.419355,77.935484,0.277419,1008.903226,27.516129,7.967742,144.338710,3.532258
4,4/1/11,383,738,2.991388,3261.65,451.04,619.0,429.0,595.0,22.30,...,27.450000,4.550000,38.200000,80.450000,0.383333,1009.050000,27.083333,8.650000,149.300000,3.183333

In [65]:
df.set_index('date', inplace=True)
df.head()

,cpo_pri,cno_pri,exmaus,oli_pri,rps_pri,pno_pri,sbo_pri,sfo_pri,wti_spri,tmax_degC,...,WindChillC,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph
date,,,,,,,,,,,,,,,,,,,,,
12/1/10,323,455,2.991388,3102.61,423.45,844.0,468.0,578.0,28.67,30.43,...,26.547619,5.642857,47.761905,79.261905,0.269048,1008.119048,26.547619,7.760192,168.738095,4.071429
1/1/11,345,546,2.991388,3100.45,415.85,799.0,485.0,557.0,24.49,31.20,...,26.322581,5.177419,52.483871,82.193548,0.385484,1009.193548,26.322581,7.760192,122.790323,3.758065
2/1/11,362,595,2.991388,3199.41,410.77,718.0,466.0,552.0,22.06,31.97,...,27.589286,4.375000,36.625000,74.839286,0.214286,1009.375000,27.589286,8.053571,114.892857,3.017857
3/1/11,376,636,2.991388,3281.67,414.82,614.0,442.0,574.0,21.64,32.69,...,27.629032,4.919355,48.419355,77.935484,0.277419,1008.903226,27.516129,7.967742,144.338710,3.532258
4/1/11,383,738,2.991388,3261.65,451.04,619.0,429.0,595.0,22.30,32.37,...,27.450000,4.550000,38.200000,80.450000,0.383333,1009.050000,27.083333,8.650000,149.300000,3.183333

In [66]:
df.dtypes

cpo_pri                int64
cno_pri                int64
exmaus               float64
oli_pri              float64
rps_pri              float64
pno_pri              float64
sbo_pri              float64
sfo_pri              float64
wti_spri             float64
tmax_degC            float64
tmin_degC            float64
ppt_mm               float64
pet_mm               float64
ws_mps               float64
srad                 float64
q_mm                 float64
maxtempC             float64
mintempC             float64
sunHour              float64
uvIndex              float64
moon_illumination    float64
DewPointC            float64
FeelsLikeC           float64
WindChillC           float64
WindGustKmph         float64
cloudcover           float64
humidity             float64
precipMM             float64
pressure             float64
tempC                float64
visibility           float64
winddirDegree        float64
windspeedKmph        float64
dtype: object

### Variables to be eliminated
We are going to eliminate the following variables because they are not important to the production and prediction of crude palm oil price

* moon_illumination
* winddirDegree
* pressure
* WindGustKmph
* cloudcover
* precipMM (is same feature as pet_mm)
* uvIndex
* sunHour
* DewPointC
* FeelsLikeC
* visibility
* WindChillC
* ws_mps
* tempC
* windspeedKmph
* ppt_mm (Same or similar to q_mm which is the runoff estimate is the amount of water expelled - or "runs off" - from the state on a monthly or annual basis).

In [67]:
df = df.drop(['moon_illumination', 'winddirDegree', 'pressure', 'WindGustKmph', 'cloudcover',
         'precipMM', 'uvIndex','sunHour', 'DewPointC','FeelsLikeC', 'visibility',
         'WindChillC', 'ws_mps', 'pet_mm', 'tempC', 'windspeedKmph', 'maxtempC', 'mintempC', 'ppt_mm'], axis = 1)

In [68]:
df.head()

,cpo_pri,cno_pri,exmaus,oli_pri,rps_pri,pno_pri,sbo_pri,sfo_pri,wti_spri,tmax_degC,tmin_degC,srad,q_mm,humidity
date,,,,,,,,,,,,,,
12/1/10,323,455,2.991388,3102.61,423.45,844.0,468.0,578.0,28.67,30.43,20.2900,207.70504,117.7,79.261905
1/1/11,345,546,2.991388,3100.45,415.85,799.0,485.0,557.0,24.49,31.20,20.9200,228.94287,4.5,82.193548
2/1/11,362,595,2.991388,3199.41,410.77,718.0,466.0,552.0,22.06,31.97,21.0300,238.41747,25.1,74.839286
3/1/11,376,636,2.991388,3281.67,414.82,614.0,442.0,574.0,21.64,32.69,21.6000,218.47599,53.6,77.935484
4/1/11,383,738,2.991388,3261.65,451.04,619.0,429.0,595.0,22.30,32.37,22.0575,226.15010,166.0,80.450000

In [69]:
X = df.iloc[:,1:15]
y = df.iloc[:,1]

In [70]:
X

,cno_pri,exmaus,oli_pri,rps_pri,pno_pri,sbo_pri,sfo_pri,wti_spri,tmax_degC,tmin_degC,srad,q_mm,humidity
date,,,,,,,,,,,,,
12/1/10,455,2.991388,3102.61,423.45,844.00,468.00,578.00,28.67,30.43,20.2900,207.70504,117.7,79.261905
1/1/11,546,2.991388,3100.45,415.85,799.00,485.00,557.00,24.49,31.20,20.9200,228.94287,4.5,82.193548
2/1/11,595,2.991388,3199.41,410.77,718.00,466.00,552.00,22.06,31.97,21.0300,238.41747,25.1,74.839286
3/1/11,636,2.991388,3281.67,414.82,614.00,442.00,574.00,21.64,32.69,21.6000,218.47599,53.6,77.935484
4/1/11,738,2.991388,3261.65,451.04,619.00,429.00,595.00,22.30,32.37,22.0575,226.15010,166.0,80.450000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11/1/20,363,2.202500,2626.91,1252.78,738.07,427.49,1430.48,60.18,29.78,20.1600,186.68326,38.2,77.950000
12/1/20,322,2.222500,2736.64,1287.68,749.57,385.09,1472.27,62.25,29.62,19.7400,210.72987,33.7,76.177419
1/1/21,307,2.262900,2842.81,1289.12,761.60,373.03,1525.43,63.04,31.41,19.6800,244.41912,4.6,74.774194
2/1/21,330,2.281700,2936.19,1303.59,759.59,390.69,1572.25,71.52,31.93,20.6300,223.31732,6.9,66.910714
3/1/21,339,2.315900,2847.84,1234.88,771.62,396.87,1302.61,74.80,31.79,20.9900,228.56676,41.5,69.000000

In [73]:

model = RandomForestClassifier()
model.fit(X,y)
columns = X.columns
coefficients = model.feature_importances_.reshape(X.columns.shape[0], 1)
absCoefficients = abs(coefficients)
fullList = pd.concat((pd.DataFrame(columns, columns = ['Variable']), pd.DataFrame(absCoefficients, columns = ['absCoefficient'])), axis = 1).sort_values(by='absCoefficient', ascending = False)
print('RandomForestClassifier - Feature Importance:')
print('\n',fullList,'\n')

RandomForestClassifier - Feature Importance:

      Variable  absCoefficient
0     cno_pri        0.088093
2     oli_pri        0.083068
6     sfo_pri        0.080010
5     sbo_pri        0.078408
12   humidity        0.077997
4     pno_pri        0.077807
3     rps_pri        0.077249
7    wti_spri        0.077125
10       srad        0.076262
8   tmax_degC        0.075101
11       q_mm        0.072639
1      exmaus        0.070844
9   tmin_degC        0.065396

###Feature Selection

In [27]:
X = df.iloc[:,1:17]
X

,cno_pri,exmaus,oli_pri,rps_pri,pno_pri,sbo_pri,sfo_pri,wti_spri,tmax_degC,tmin_degC,ppt_mm,srad,q_mm,maxtempC,mintempC,humidity
date,,,,,,,,,,,,,,,,
12/1/10,455,2.991388,3102.61,423.45,844.00,468.00,578.00,28.67,30.43,20.2900,232.9,207.70504,117.7,30.809524,21.666667,79.261905
1/1/11,546,2.991388,3100.45,415.85,799.00,485.00,557.00,24.49,31.20,20.9200,89.1,228.94287,4.5,30.225806,21.903226,82.193548
2/1/11,595,2.991388,3199.41,410.77,718.00,466.00,552.00,22.06,31.97,21.0300,179.7,238.41747,25.1,32.678571,21.714286,74.839286
3/1/11,636,2.991388,3281.67,414.82,614.00,442.00,574.00,21.64,32.69,21.6000,177.1,218.47599,53.6,32.032258,22.419355,77.935484
4/1/11,738,2.991388,3261.65,451.04,619.00,429.00,595.00,22.30,32.37,22.0575,295.0,226.15010,166.0,31.400000,22.733333,80.450000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11/1/20,363,2.202500,2626.91,1252.78,738.07,427.49,1430.48,60.18,29.78,20.1600,141.8,186.68326,38.2,30.333333,24.200000,77.950000
12/1/20,322,2.222500,2736.64,1287.68,749.57,385.09,1472.27,62.25,29.62,19.7400,149.0,210.72987,33.7,30.322581,23.709677,76.177419
1/1/21,307,2.262900,2842.81,1289.12,761.60,373.03,1525.43,63.04,31.41,19.6800,91.4,244.41912,4.6,30.290323,22.838710,74.774194
2/1/21,330,2.281700,2936.19,1303.59,759.59,390.69,1572.25,71.52,31.93,20.6300,137.7,223.31732,6.9,33.285714,22.785714,66.910714
3/1/21,339,2.315900,2847.84,1234.88,771.62,396.87,1302.61,74.80,31.79,20.9900,188.3,228.56676,41.5,33.000000,23.000000,69.000000

In [86]:
y = df.iloc[:,1]
y

date
12/1/10    455
1/1/11     546
2/1/11     595
3/1/11     636
4/1/11     738
          ...
11/1/20    363
12/1/20    322
1/1/21     307
2/1/21     330
3/1/21     339
Name: cno_pri, Length: 124, dtype: int64

###Applying SelectKBest class to extract top 10 best features

In [79]:
bestfeatures = SelectKBest(score_func=chi2, k=13)
fit = bestfeatures.fit(X,y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score'] #naming the dataframe columns
featureScores
print(featureScores.nlargest(12,'Score')) #print 12 best features

        Specs         Score
2     oli_pri  33048.158434
6     sfo_pri  20358.281505
3     rps_pri  11999.606621
11       q_mm   8244.329859
0     cno_pri   4491.681319
5     sbo_pri   2830.257416
4     pno_pri   2657.513026
7    wti_spri    641.994559
10       srad    312.810119
12   humidity     30.911195
1      exmaus      2.913482
8   tmax_degC      2.410815

In [80]:
'''
from sklearn.ensemble import ExtraTreesClassifier
import matplotlib.pyplot as plt
model = ExtraTreesClassifier()
model.fit(X,y)
'''

'\nfrom sklearn.ensemble import ExtraTreesClassifier\nimport matplotlib.pyplot as plt\nmodel = ExtraTreesClassifier()\nmodel.fit(X,y)\n'

In [81]:
#print(model.feature_importances_) #use inbuilt class feature_importances of tree based classifiers

In [82]:
'''
# Plot graph of feature importances for better visualization
feat_importances = pd.Series(model.feature_importances_, index=X.columns)
feat_importances.nlargest(15).plot(kind='barh')
plt.show()
'''

"\n# Plot graph of feature importances for better visualization\nfeat_importances = pd.Series(model.feature_importances_, index=X.columns)\nfeat_importances.nlargest(15).plot(kind='barh')\nplt.show()\n"

In [ ]:
#soy bean oil price, coconut oil price, rapeseed oil price, sunflower oil price and peanut oil prices together with 
#crude oil price and exchange rate are used as main predictors of CPO price in this study.